Gertrude Nyenyeshi <gertrude.nyenyeshi@andela.com> andela-gnyenyeshi <gertrudenyenyeshi@Gertrudes-MacBook-Pro.local>
Gertrude Nyenyeshi <gertrude.nyenyeshi@andela.com> GertieNyesh <gertienyesh@gmail.com>
Kevin Ndung'u <kevgathuku@gmail.com> Kevin Ndung'u <kevgathuku@users.noreply.github.com>
Jeremy Kithome <jeremy.kithome@andela.com> Jeremy Kithome <JeremyAsync@Optimus-Callback.local>
Jeremy Kithome <jeremy.kithome@andela.com> Jeremy <jerekith2@gmail.com>
Brian Koech <brnkirwa@gmail.com> Brian Koech <bryomckim@Brians-MacBook-Pro.local>
andela-ekupara <edwin.kupara@andela.com> andela.ekupara <edwin.kupara@andela.com>
andela-ekupara <edwin.kupara@andela.com> Edwin Kupara <kewekesa@yahoo.com>
