doctype html
html
  head
    include shared/head
  body
    #card
      #header
      #back.mdl-grid
        .mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet
          button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored
           |Start Triming:)
          p
           strong nmbmnbs hsjshsjhgjh 
      #action 
      #grid
        p Your company mission statement or your ultimate value.
        .mdl-grid
          .mdl-cell.mdl-cell--2-col
          .mdl-cell.mdl-cell--8-col
            p Add some more descriptive content here to describe your product or service. What your offer is and how you can improve your potential customers daily experience. This could also be an explanation of the details of your offer if you are running a specific promotio
          .mdl-cell.mdl-cell--2-col
      .mdl-grid
        .mdl-cell.mdl-cell--4-col
          img.responsive-image(src='./images/one.jpeg')
          p WE ARE THE BEST
          p What does your company offer that will improve or solve a problem? Explain the pain point being alleviated
        .mdl-cell.mdl-cell--4-col
          img.responsive-image(src='./images/five.jpeg')
          p WE ARE THE BEST
          p What does your company offer that will improve or solve a problem? Explain the pain point being alleviated
        .mdl-cell.mdl-cell--4-col
          img.responsive-image(src='./images/three.jpeg')
          p WE ARE THE BEST
          p What does your company offer that will improve or solve a problem? Explain the pain point being alleviated
    script(src="./js/app.js")
    include shared/footer