main#overlay.mdl-layout__content
  .page-content
    .overlay-container
      #box
        img(src="images/logo-220.png")
      #overlay2
        div
          h3.text-color
            | STAY TUNED!
          h5 WE ARE LAUNCHING SOON.
          p Trime helps you track the time spent working on personal or client projects