footer.page-footer.grey.darken-2
      .container
        .row
          .col.l6.s12
            img(src='./images/logo-220.png')
          .col.l4.offset-l2.s12
            h5.white-text Links
            ul
              .row
                .col.s4
                  li
                    a.grey-text.text-lighten-3(href='#!') Home
                .col.s4
                  li
                    a.grey-text.text-lighten-3(href='#!') About us
                .col.s4
                  li
                    a.grey-text.text-lighten-3(href='#!') Contact
      .footer-copyright
        .container
          | © 2014 Copyright Trime
          a.grey-text.text-lighten-4.right(href='#!') More Links