base(href="/")
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width initial-scale=1")
meta(name="description" content="")
title Trime
link(rel="stylesheet" href="lib/material-design-lite/material.min.css")
link(rel="stylesheet" href="css/style.css")
script(src="lib/material-design-lite/material.min.js")