#back            
#action
#grid
  p Your company mission statement or your ultimate value.
  .row
      .col.s2
      .col.s8
        p Add some more descriptive content here to describe your product or service. What your offer is and how you can improve your potential customers daily experience. This could also be an explanation of the details of your offer if you are running a specific promotion
      .col.s2
  .row
    .col.s4.push-m8
      img.responsive-image(src='./images/one.jpeg')
      p WE ARE THE BEST
      p What does your company offer that will improve or solve a problem? Explain the pain point being alleviated
    .col.s4.push-m8
      img.responsive-image(src='./images/five.jpeg')
      p WE ARE THE BEST
      p What does your company offer that will improve or solve a problem? Explain the pain point being alleviated
    .col.s4.push-m8
      img.responsive-image(src='./images/three.jpeg')
      p WE ARE THE BEST
      p What does your company offer that will improve or solve a problem? Explain the pain point being alleviated